
<%- include("../partials/header.ejs") %>

<div class="container">
<div class="about">
    <h1 class="about-title">At My Blog, we are passionate</h1>
    <p>At My Blog, we are passionate about sharing insightful content that inspires, informs, and engages our readers. 
        Whether you're here to explore new ideas, find tips and advice, or simply enjoy thought-provoking articles, 
        we aim to provide you with high-quality and valuable content.
    </p>
</div>
</div>

<%- include("../partials/footer.ejs") %>