<%- include("../partials/header.ejs") %>


<div class="container">
    <div class="who">
        <img class="profile" src="images/Design sem nome.png">
        <p><span class="name">My name is João Vitor Aramaki Tanaka.</span><br> I am a Computer Engineering student living in Cascavel, Paraná, Brazil.
             I created this project to consolidate my learning in Web Development. For this project, 
             I applied my knowledge of HTML, CSS, and JavaScript.
        </p>
    </div>
</div>


<%- include("../partials/footer.ejs") %>